@import url('mainCSS.css') ;
@import url('mediaQueries.css') ;
@charset 'UTF-8' ;


 :root {

    --text-primary-color: ;
    --text-secondary-color: ;
    --text-third-color: ;
    --background-primary-color: ;
    --background-secondary-color: ;
    --title-primary-color: ;
    --title-secondary-color: ;
    --outline-color: ;
    --primary-color : green ;
    --secondary-color : red ;
    
}
