/*|------------------------------------|
               Style global
  |------------------------------------|*/

html {
    width: 100%;
    height: 100%;
}

body {
    color:black;
    background-color:white;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;

    height:100%;
    width:100%;

    margin: 0;
    padding: 0;
    position : relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: cursive;
}


/* Module barre de navigation */

header { 
    width: 100%;
    margin : 0 ; 
    margin-top: 30px;
    margin-bottom: 80px ;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 4px 4px;
    font-size: 15px;
    border-radius: 8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar {
    display: flex;      
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;   
    justify-content: flex-end;  

    padding:0;  
    background-color: #DBF6E9 ;   
    opacity: 0.90;  
    width: 100%;
}

.navbar a:hover {
  background-color: #9DDFD3;
  color: #31326F;
  border-color: #31326F;
}

.navbar a {
    display:block;               
    min-width: 120px; 

    margin: 1rem;     
    padding: 0.4rem 0;  
    text-align: center;          
    background-color: #1ABC9C;   
    color: #fff;                 
    text-decoration: none;       
    border: 1px solid #fff;      
    border-radius: 4px;          
}

/* Logo RuthenQuiz sur la navbar */

.logoMenu {
    margin: auto ; 
}

.logoMenu img {
    position: absolute;
    width: 20%;
    height: 10%;
    max-width: 170px;
    max-height: 100px;
    margin-left: 50px;
    z-index: 1;
    background-color: #FBE5AC ;
}

/* Corps de la page */

section {
    flex-grow:1;
    width:100%;
}

/* Texte présentation accueil */

.message-bienvenue {
    font-family: Comfortaa,cursive;
    color: #31326F;
    text-align: center;
    margin: 50px;
}

.presentation {

    position: relative;
    background-color: #DBF6E9;
    z-index: 1;
    margin-top: 400px;
    margin-bottom: 400px;
    height: 600px;
    width: 100%;
}

.angle-haut:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(-6deg);
}

.angle-bas:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(6deg);
}

*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Module pied de page  */

footer {
    width:100%;
    height:100px;
    padding-top: 20px;
    margin: auto;
}

.footer-title {
   width: 100%;
   display: inline-block;
   background: #333;
   color: white;
  
   text-align: center;
   font-size: 22px;
   font-weight: 700;
}
  
.footer-global {
    display: flex;      
    flex-direction: row;        
    padding:0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #DBF6E9 ; 
    text-align: center;
}  

.footer-column {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.footer-beginning {
    line-height: 2em;
}

.footer-middle {
    text-align: initial;
    width: 20em;
    line-height: 2.5em;
}


.footer-end {
    padding-left: 15px;
}

.footer-end h3 {

}

.footer-end p {
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    padding-top: 10px;
}

#footer-logo {
    width: 100px;
}

#footer-icon {
    height: 25px;
    vertical-align: middle;
}


/* Connexion Compte */

.cadre {
    width: 460px;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px ;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    margin: 30px auto 100px auto;

    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(1px);
    background-size: cover;
}

.logo-arrondi {
    background-image: url('../ressources/logo/logo_icon.png') ;
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 120px;
    margin: 0 auto;
}

.connexion-titre {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    /* text-transform: uppercase;
    display: block; */
}

.connexion-identifiant {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 10px 0 20px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

.connexion-identifiant div:hover {
    border-bottom: 2px solid rgba(255,255,0,0.24);
    transition: all 0.4s;
}

.connexion-identifiant input {
    background: transparent;
    border: none;
    color: #fff;
    padding-left: 10px;
    outline: none;
}

.connexion-retenir {
    margin-top: 10px;
    margin-left: 20px;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 8px;
    cursor: pointer;
}

.connexion-valider {
    margin: 50px auto auto auto;
    width: 130px;
}

#valider {
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    border: none;
}

.connexion-valider input:hover {
    background-color: #5740ac;
    color: #31326F;
    border-color: #31326F;
    cursor: pointer;
}

.connexion-creer {
    margin: 50px auto auto auto ;
    text-align: center;
    text-decoration: none;
    width: 200px;
    min-width: 133px;

}

.connexion-creer a {
    font-size: 13px;
    color: #e5e5e5;
    text-decoration: none ;
}

#connexion-icon {
    height: 25px;
    vertical-align: bottom;
}

.g-recaptcha {
    width: 290px;
    margin : auto;
}

/*|-----------------------------------------------------------------|
                                index.php
  |-----------------------------------------------------------------|*/

.mesThemes {
    display: none;
}

/* Conteneur du viewer qui affiche les themes grâce aux images */
.viewer-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    margin-top: -22px;   
    background-color: var(--primary-color);
    opacity: 0.9;
    color: var(--background-primary-color);  
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    user-select: none;
    transition: all 0.7s ease; 
}

.prev {
    transform: translate(-50%);
}

.next {
    transform: translate(50%);
    right: 0;
}

/* Animation quand on passe la souris sur les flèches pour changer de theme */
.prev:hover, .next:hover {
    background-color: white; 
    color: var(--primary-color);
}

/* Page administration */

.tableau-utilisateur {
    border-radius: 10px;
    width: 90%;
    margin-bottom: 200px;
}

.titre-tableau {
    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
    background-color: #FFEEDB;
    font-weight: bold;
    padding: 12px;
}

.ligne-tableau div {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

.ligne-tableau:hover {
    background-color: #f1f1f1;
}

.ligne-tableau {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 100%;

    padding: 12px;

    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
}

#trash-icon {
    height: 25px;
    float: right;
}

/* Image du viewer */
.img-viewer {
    max-width: 100%;
    border-radius: 20px;
    vertical-align: middle;
    box-shadow:5px 5px 8px 0 rgba(0, 0, 0, 0.5);
}

/* Style du texte qui s'affiche sur le viewer des thèmes */
.text-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-primary-color);
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .5s ease;
}

.viewer-container:hover .text-background {
    height: 20%;
    bottom: 5%;
}

.text {
    color: var(--primary-color);   
    white-space: nowrap; 
    font-size: 40px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* les points qui indiquent l'affichage du viewer */
.point {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--background-primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.active, .point:hover {
    background-color: var(--primary-color);
    transform:  scale(1.3);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}

/*|-----------------------------------------------------------------|
                                theme.php
  |-----------------------------------------------------------------|*/

.grid {
    display: table;
    width: 980px;
    table-layout: fixed;
}

.grid li {
    display: table-cell;
    text-align: center;
}

.grid-theme {
    grid-column-gap: 15px;
    display: flex;
    margin: 0;
    padding: 0;
    row-gap: 25px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

.grid-theme p {
    display: block;
    font-size: 20px;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.theme {
    transition: transform 350ms;
}

.theme a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

/* Style des "cards" des thèmes au niveau de la page de choix des thèmes */
.card {  
    border-radius: 10px; 
    max-width: 100%;
    outline-color: var(--background-secondary-color);
    box-shadow:4px 4px 7px 0 rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 300px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.2s ease-out, border 0.2s ease-in-out;

}

.card:hover {
    transform:scale(1.05);
    border: 3px 3px 3px 3px solid var(--background-secondary-color);
}

/* Style du texte(nom du thème) qui s'affiche quand on passe la souris sur la "card" */
.card-text {
    opacity:1;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-secondary-color);
    background-color: var(--text-secondary-color);
    width: 100%;
    height: 300px;
    text-align:center;
}

.card .card-text {
    background-color: var(--primary-color);
    position: absolute;
    color: var(--background-secondary-color);
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    padding: 100px 20px;
}

.card:hover .card-text { 
    opacity: 0.7;    
}

.card .title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

.card:hover .title, .card:focus .title {
    opacity: 1;
    transform: translateY(0px);     
}

/* L'image dans la card theme */
.img-theme {
    max-width: 100%;
    display: flex;
    width: 100%;
    border-radius: 10px 10px 0 0; 
}

@media screen and (max-width: 950px) {
  .card {    
      width: 350px;   
  }

  .viewer-container {
      max-width: 350px; 
  }
}

/*|-----------------------------------------------------------------|
                                quiz.php
  |-----------------------------------------------------------------|*/

/* Header du quiz*/
.quiz-header {
    padding: 10px 25px;
    width: 100%;
    display: flex!important;
    background-color: #ffffff;
}

.quiz-progression {
    width: 100%;
    background-color: var(--primary-light-color);   
}

.quiz-barre {
    width: 60%;
    height: 8px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 30px;
}

.quiz-title {
    color: #484848;
    font-weight: 900;
    font-size: 25px;
    flex-grow: 1;
    margin: 0;
}

.text-right > span {
    font-size: 20px;
    text-align: right!important;
}

.questions-affectuees {
    font-weight: bold;
}

/* Body du quiz */
.quiz-body {
    display: flex;
    justify-content: center;    
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Quiz question et réponse */
.quiz {
    position: relative;
    width: 1600px;   
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow:6px 6px 8px 0 var(--primary-light-color);
    padding-top: 40px;   
    justify-content: start;
    margin-right: 10px;
    max-width: 40%;
    padding: 15px 30px 15px 30px;
}

.quiz-image {
    display: flex;
    max-width: 100%;
    padding: 10px 50px 10px 50px;
    justify-content: center;
}

.quiz-image > img {
    border-radius: 10px;
    box-shadow:4px 4px 6px var(--primary-light-color);
    transition: transform 0.3s ease-in-out;
}

.quiz-image:hover > img {
    transform: scale(1.03);
}

.quiz-question {
    padding: 15px 0 20px 0;
    color: var(--text-primary-color);
    font-size: 20px;
    font-weight: 500;
}

.quiz-question > p {
    text-align: center;
}

.quiz-propositions {
    display: flex;
    padding: 15px 5px 15px 5px;
    justify-content: space-around;
}

.justify-quiz {  
}

/* Supplément réponse du quiz */
.quiz-supplement-reponse {
    position: relative;
    width: 800px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow:6px 6px 8px 0 var(--primary-light-color);
    border-radius: 15px;
    justify-content: end;
    margin-left: 10px;
    max-width: 25%;
    width: 100%;
    min-height: 1px;
}

.quiz-reponse {
    color: var(--text-primary-color);
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #000E03;
    padding: 10px 10px 10px 10px;
}  

.texte-supplement-reponse {
    color: var(--text-primary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
}

.btn-quiz {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 22px 35px;
    border-radius: 10px;
    font-weight: 900;
    min-width: 140px;
    border-radius: 6px;
    padding: 10px 16px;  
    display: inline-block;
    transition: transform 0.4s ease-out; 
    cursor: pointer;      
}

.btn-quiz:hover {
    position: relative;
    transform:scale(1.1);
}

.btn-proposition {
    background-color: var(--primary-light-color);  
    border-bottom: 4px solid var(--primary-color);
    transition: all 0.3s ease-out;
}

.btn-proposition:hover {
    background-color: var(--primary-color); 
    box-shadow: 4px 4px 6px 0 var(--primary-light-color); 
}

.btn-proposition:hover .text-proposition {
    color: var(--primary-light-color);
}

.btn-quiz > .text-proposition {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

.btn-quiz a {
    display: inline-block;
    padding: 20px;
}

.btn-suivant {
    font-weight: bold;
    font-size: 15px;
    background-color: #99FFDA;  
    border-left: 6px solid var(--third-color);
    transition: background-color 0.7s ease-out;
}

.btn-suivant span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-suivant span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
}

.btn-suivant:hover {
      background-color: var(--third-color);
}

.btn-suivant:hover span {
      padding-right: 25px;
}

.btn-suivant:hover span:after {
      opacity: 1;
      right: 0;
}

.btn-invisible {
    display: none;
}  