@import url('mainCSS.css') ;
@import url('mediaQueries.css') ;
@charset 'UTF-8' ;


 :root {

    --text-primary-color: #254DFF;
    --text-secondary-color: #FF2929;
    --text-third-color: #0EEFA7;
    --background-site: #F9F9F9;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #d9d9d9;
    --title-primary-color: #254DFF;
    --title-secondary-color: #FF2929;
    --outline-primary-color: #254DFF;
    --outline-secondary-color: #FF2929;
    --outline-third-color: #0EEFA7;
    
}
